---

apiVersion: v1
kind: ConfigMap
metadata:
name: jenkins-function-scripts
namespace: "{{ jenkins_namespace }}"
data:
    create-dockerhub-credentials.groovy: "{{ lookup('file', 'create-dockerhub-credentials.groovy') }}"
    create-github-credentials.groovy: "{{ lookup('file', 'create-github-credentials.groovy') }}"
    create-pipeline-job.groovy: "{{ lookup('file', 'create-pipeline-job.groovy') }}"
    create-environment-vars.groovy: "{{ lookup('file', 'create-environment-vars.groovy') }}"

