---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-function-scripts
  namespace: "jenkins"
data:
  create-simple-credentials.groovy: |
    {{ lookup('file', 'create-simple-credentials.groovy') | indent(6) }}
  create-ssh-credentials.groovy: |
    {{ lookup('file', 'create-ssh-credentials.groovy') | indent(6) }}
  create-pipeline-job.groovy: |
    {{ lookup('file', 'create-pipeline-job.groovy') | indent(6) }}
  create-environment-vars.groovy: |
    {{ lookup('file', 'create-environment-vars.groovy') | indent(6) }}
  strict-host-checking.groovy: |
    {{ lookup('file', 'strict-host-checking.groovy') | indent(6) }}