apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name_volume_key }}
  namespace: {{ jenkins_namespace }}
type: Opaque
data:
  github-ssh-key: |
    {{ github_ssh_content | indent(6) }}
  jenkins-ssh-public-key.pub: |
    {{ jenkins_ssh_public_key | indent(6) }}
  aws-server-key.pem: |
    {{ aws_server_ssh_content | indent(6) }}
